body {
    font-family: sans-serif;
    background-color: white;
}
.Todo-Item:hover .trash-icon {
    display: block;
}
.count-badge {
    display: inline-block;
    margin-left: 5px; /* Adjust the margin as needed */
    background-color: #ccc;
    padding: 2px 5px;
    border-radius: 3px;
}