<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <script>
        document.getElementById('new-todo-form').addEventListener('submit', function (event) {
            const titleInput = document.getElementsByName('title')[0];
            if (titleInput.value.trim() === '') {
                alert('Title cannot be empty');
                event.preventDefault(); // Prevent form submission
            }
        });

        document.getElementById('new-todo-form').addEventListener('submit', function (event) {
            const dueDateInput = document.getElementsByName('dueDate')[0];
            if (dueDateInput.value.trim() === '') {
                alert('Due Date cannot be empty');
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <form action="/todos" method="post" id="new-todo-form" class="mb-3">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="title" placeholder="What's next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="dueDate" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb">Add</button>
                    </div>
                </div>
            </form>
            <%- include('todos.ejs', { overdue, duetoday, duelater}) %>
        </div>
    </div>
</body>
</html>
